.board{
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    grid-template-columns: repeat(10,auto);
}

.grid{
    height: 100px;
    width: 100px;
    border: 2px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor:pointer;
}